<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <title><%= title %></title>
  </head>
  <body>
    <div>
      <ul id="dropdown1" class="dropdown-content">
        <% if (req.user == null) { %>
          <li><a href="/register">註冊</a></li>
          <li><a href="/login">登入</a></li>
        <% } else { %>
          <li><a href="/"><%= req.user.username %> </a></li>
          <li><a href="/logout">登出</a></li>
        <% } %>
      </ul>
    </div>
    <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo" style="margin-left: 20px">AInews</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <% const newsType = ['熱門', '政治', '社會', '國際', '娛樂', '生活', '科技', '財經', '體育'] %>
        <% const newsLink = ['/', 'politics', 'social', 'international', 'entertainment', 'life', '3C', 'finance', 'sports'] %>
        <% for(let i = 0; i < newsType.length; i++) { %>
          <li><a href="<%= newsLink[i] %>">
            <%= newsType[i] %>
          </a></li>
        <% } %>
        <li><a class="dropdown-trigger" href="#!" data-target="dropdown1" style="margin-left: 50px"><i class="material-icons">person</i></a></li>
      </ul>
      <form>
        <div class="right input-field">
          <input id="search" type="search" required>
          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
        </div>
      </form>
    </div>
  </nav>
  </body>
  <script type="text/javascript">
    $('.dropdown-trigger').dropdown({
      hover: true
    });
  </script>
</html>
