<% include header %>
<div class="row" style="font-family: Microsoft JhengHei;">
  <div class="col s6">
    <div class="z-depth-2">
      <p>
        <h5>韓國瑜也挺蔡英文？初選大玩創意　民眾瘋傳「小英同框照」</h5>
        <p>台北報導下禮拜民進黨要進行總統初選民調，蔡英文團隊利用通訊軟體做同框合成照玩創意，吸年輕族群支持，不只同黨林佳龍、陳其邁和鄭文燦都在臉書發布合成照「挺英」，也有民眾搞KUSO，讓賴清德和韓國瑜，甚至小熊維尼都和小英同框，資深藝人余天也特別錄音拜票，搶長青票。
          <a href="https://www.setn.com/News.aspx?NewsID=551857" target="_blank" class="right-align">(繼續閱讀...)</a>
        </p>
      </p>
    </div>
  </div>
</div>
