<% include header %>
<div class="row" style="font-family: Microsoft JhengHei;">
    <% result.forEach(element => { %>
        <div class="col s6">
            <div class="z-depth-2">
              <p>
                <h5><%= element.title %> </h5>
                <p><%= element.content %>...
                  <a href="<%= element.url %>" target="_blank" class="right-align">(繼續閱讀...)</a>
                </p>
              </p>
            </div>
          </div>
    <% }) %>
  </div>
  